body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.flexible-container{

  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.heding-2nd {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.btn-primary {
  color: #fff;
  font-family: Lato;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  background: #e55473;
}

.top-banner {
  margin-bottom: 0;
  padding-bottom: 0;
  background: rgba(229, 84, 115, 0.1);
}
.banner-taitle {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-container {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 140px;
  padding-right: 140px;

  display: flex;
  justify-content: space-between;
  gap-: 40px;
}

.half-width {
  padding-bottom: 0;
  width: 50%;
}

.top-banner-content {
}

.top-banner-img {
  padding-bottom: 0;
}
.top-banner-img img {
  width: 122%;
}

.our-featured-section {
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

.image-card{
  margin: 50px 140px;
  display: flex;
  gap: 50px;

}
.card img{
  width: 80%;
}
.image-1{
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 10px;
}
.image-2{
  border-radius: 300px 300px 0px 0px;
 background: rgba(5, 151, 160, 0.15);
 padding: 20px;
}
.image-3{
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.hot-dil-section{
  text-align: center;
  padding: 50px 140px;
  border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}

.instragram-content{
  text-align: center;
  padding: 40px 26%;
}
.instragram-section-image{
  margin: 50px 140px;
}
.instragram-section-image img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 3px 3px 20px gray;
}
.latest-deals{
  margin: 40px 140px;
  text-align: center;
  background-image: url(../images/Rectangle\ 9.png);
  height: 100%;
  border-radius: 10px;
}
.latest-content{
  padding: 80px 100px;
}

input {
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 10px;
}
footer{
  background-color: #111010;
  
  padding: 80px 25%;
  
  
text-align: center;
}
footer h3{
  color: #FFF;
font-size: 48px;
font-weight: 800;
}
footer span{
  color: #E55473;
}
footer p{
  color: rgba(255, 255, 255, 0.90);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
  }

  footer small{
    color: rgba(255, 255, 255, 0.40);
  font-size: 16px;
  font-weight: 400;
  }